<app-header></app-header>
<div class="container mx-auto mt-16 mb-20 overflow-hidden max-w-md">
    <h2 class="text-2xl font-bold mb-4">Cambio de Horario Manual</h2>
    <form >
        
        <div class="mb-4">
            <label for="nombre" class="block text-gray-700 text-balance font-bold mb-2">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="input-basic shadow focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="departamento" class="block text-gray-700 text-balance font-bold mb-2">Departamento</label>
            <input type="text" id="departamento" name="departamento" class="input-basic shadow focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="horas" class="block text-gray-700 text-balance font-bold mb-2">Horas Trabajadas</label>
            <input type="text" id="horas" name="horas" class="input-basic shadow focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <button type="submit" class="button ">
                Guardar
            </button>
        </div>
    </form>

</div>

<app-footer></app-footer>