<div class="container mx-auto mt-16 mb-16 overflow-x-auto">
    <mat-table #table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="ID SOLICITUD">
        <mat-header-cell *matHeaderCellDef> ID SOLICITUD </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.idCambioHorario}} </mat-cell>
      </ng-container>
  
      <!-- RICHAR Column -->
      <ng-container matColumnDef="NOMBRE SOLICITANTE">
        <mat-header-cell *matHeaderCellDef> NOMBRE SOLICITANTE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombreEmpleadoSolicitante}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="NOMBRE EMPLEADO CAMBIO">
        <mat-header-cell *matHeaderCellDef> NOMBRE EMPLEADO CAMBIO </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombreEmpleadoCambio}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="NOMBRE APROBADOR">
        <mat-header-cell *matHeaderCellDef> NOMBRE APROBADOR </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombreEmpleadoAprobador}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="DESCRIPCIÓN">
        <mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator #paginator
                    (page)="onPageChange($event)"
                    [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
  
