<app-header>
</app-header>

<div class="container mx-auto mt-16 mb-16 overflow-x-auto ">
  <h2 class="text-2xl font-bold mb-4">Lista de Solicitudes</h2>
  <table class="min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Id
          Solicitud</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre
          Solicitante</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre
          Empleado Cambio</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre
          Aprobador</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Descripción</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado
          Solicitud</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr *ngFor="let cambio of cambioHorarioConsulta">
        <td class="px-6 py-4 whitespace-nowrap">{{ cambio.idCambioHorario }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ cambio.nombreEmpleadoSolicitante }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ cambio.nombreEmpleadoCambio }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ cambio.nombreEmpleadoAprobador }}</td>
        <td class="">{{ cambio.descripcion }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ cambio.estado }}</td>


        <td *ngIf="esAdministrador" class="px-6 py-4 whitespace-nowrap">
          <button class="button py-2 px-4">
            Responder
          </button>
        </td>
        <td *ngIf="!esAdministrador" class="px-6 py-4 whitespace-nowrap">


          <button class="button py-2 px-4" (click)="mostrarDetalleUsuario(cambio)">
            
            Ver detalle
          </button>
        </td>

      </tr>
      <!-- Más filas aquí -->
    </tbody>
  </table>


  <div *ngIf="!esAdministrador"><button class="button mt-2">
      Nueva Solicitud
    </button></div>


</div>


<app-footer></app-footer>