<app-header></app-header>

<div class="container col-xl-10 col-xxl-8 px-4 py-2">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
          {{ isEditMode ? 'Editar solicitud de cambio de turno' : 'Solicitar cambio de turno' }}
        </h1>
        <p class="col-lg-10 fs-4">
          {{ isEditMode 
            ? 'Modifique los datos de su solicitud de cambio de horario.' 
            : '"Este formulario está destinado para solicitar cambios de horario. Por favor, especifique el día al que desea cambiar el horario en la descripción correspondiente."' 
          }}
        </p>
          <button class="button mt-2" [routerLink]="['/solicitudes', qrModel?.idEmpleado]">
            Regresar
          </button>
        </div>
      
      <div class="col-md-10 mx-auto col-lg-5">
        <form (ngSubmit)="submitForm()" #form="ngForm" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3">
            <!-- Campo oculto para almacenar el ID del empleado solicitante -->
            <input type="hidden"  name="idEmpleadoSolicitante" [(ngModel)]="solicitudCambioHorario.idEmpleadoSolicitante"
              [ngModelOptions]="{ standalone: false }" [value]="qrModel?.idEmpleado">
            <!-- Campo de entrada para mostrar el nombre del empleado solicitante -->
            <input type="text" class="form-control" id="floatingInput"
              [value]="qrModel?.nombreEmpleado" disabled>
            <label for="floatingInput">Empleado Solicitante</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select" id="empleadoSelect" [(ngModel)]="solicitudCambioHorario.idEmpleadoCambio"
              name="empleadoSelect">
              <option *ngFor="let empleado of infoAllEmpleado" [ngValue]="empleado.idEmpleado">{{ empleado.nombre }}
                {{ empleado.apellido }}</option>
            </select>
            <label for="empleadoSelect">Empleado Cambio</label>
          </div>
          <div class="form-floating mb-3">
                    <input 
                        type="date" 
                        class="form-control" 
                        id="fechaAsistencia"
                        name="fechaAsistencia"
                        [(ngModel)]="solicitudCambioHorario.diaCambio"
                        required>
                    <label for="fechaAsistencia">Fecha de Asistencia</label>
                </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" id="Descripcion" rows="3" placeholder="Escriba una descripcion"
              id="floatingTextarea2" style="height: 100px" [(ngModel)]="solicitudCambioHorario.descripcion" 
              name="descripcion"></textarea>
            <label for="Descripcion">Descripción de la Solicitud</label>
          </div>
          <div class="flex justify-center space-x-4">
            <button class="button" type="submit" [disabled]="!form.valid || !solicitudCambioHorario.idEmpleadoCambio || solicitudCambioHorario.diaCambio === 'Seleccione un dia' || !solicitudCambioHorario.descripcion">
              {{ isEditMode ? 'Actualizar' : 'Solicitar' }}
            </button>
          </div>

          <hr class="my-4">
          <small class="text-body-secondary">Al hacer clic en Solicitar, usted acepta los términos de uso.</small>
        </form>
      </div>
    </div>
  </div>

  <app-footer></app-footer>