<body>
    <app-header></app-header>

    <main class="container mx-auto flex flex-col md:flex-row items-center justify-center mt-6 mb-16">
    <div class="md:w-1/2 flex flex-col justify-center items-center md:items-center md:text-left mb-4 md:mb-0">
        <h1 class="text-4xl font-bold text-gray-900">¡Buenos días!</h1>
        <p class="text-gray-700">Espero que tengas un día maravilloso.</p>
    </div>
    <div class="md:w-1/2">
        <img src="\assets\imagen-fondo-todos.jpeg" alt="Imagen" class="mx-auto md:mr-0 md:ml-auto ">
    </div>
</main>


<app-footer></app-footer>


</body>