<body>


    
        
        <header>
            <!-- Menu hamburguesa -->
            <img src="/assets/accelerate-svgrepo-com.svg" alt="Accelerate SVG">
            <img src="/assets/line-3-svgrepo-com.svg" alt="hamburguesa">

            <nav>
                <ul>
                    <li>Solicitudes
                        <img src="assets\chevron-down-svgrepo-com.svg" alt="flecha abajo">
                        <ul>
                            <li><span>Mis solicitudes</span></li>
                            <li><span>Aceptar solicitudes</span></li>
                            <li><span>informe de solicitudes</span></li>

                        </ul>
                    </li>
                    <li>Reportes <img src="assets\chevron-down-svgrepo-com.svg" alt=""></li>
                    <li>Empleados <img src="assets\chevron-down-svgrepo-com.svg" alt=""></li>
                    <li>about</li>
                </ul>
                <button>Login</button>
                <button>Register</button>
            </nav>

        </header>
        <main >
            <section>
                <h2>Bienvenido Junalito</h2>
                <p>asdasdasssssssssssssdasdasdas</p>
                <button>Editar perfil</button>
                <div>
                    <img src="/assets/chevron-down-svgrepo-com.svg" alt="">
                    <img src="/assets/accelerate-svgrepo-com.svg" alt="Accelerate SVG">
                    <img src="/assets/line-3-svgrepo-com.svg" alt="hamburguesa">
                </div>
            </section>
            <picture>
                <source srcset="/assets/—Pngtree—decorative technological curve lines_5487808.png" media="(max-width:630px)" >
                <source srcset="/assets/pngtree-cute-abstract-lines-with-beautiful-colors-png-image_5905180.png" media="(min-width:640px)">
                <img src="/assets/—Pngtree—decorative technological curve lines_5487808.png" alt="mobile">
            </picture>
        </main>
        <footer ><!-- un buen guter parecido a este -->
            <div class="attribution">
                Challenge by <a href="https://www.youtube.com/watch?v=5HtRcMSO1Ro&list=PL4ONm-ifcbQJ7zDmC2WR_vidFPmxDLraL" target="_blank">Full Stack Middle</a>
                Coded By <a href="https://github.com/RicharLeon" target="_blank">RicharLeon</a>
            </div>
        </footer>



</body>